@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");
* {
  background: #181719;
  color: white;
  font-family: "Montserrat", sans-serif;
}

header,
main {
  margin-left: 5vw;
  margin-right: 5vw;
}

header {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  font-weight: 200;
  padding: 8px;
  border: 1px solid white;
}

header .menu__item {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5vw;
}

@media (max-width: 850px) {
  header .menu {
    display: none;
  }
  header .menu.fade {
    display: block;
  }
}

@media (max-width: 850px) {
  header {
    margin-top: 10%;
  }
}

main {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .text {
  width: 80%;
}

main .text .title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 48px;
}

@media (max-width: 850px) {
  main .text .title {
    font-size: 36px;
  }
}

main .text .description {
  font-weight: 300;
  font-size: 24px;
}

@media (max-width: 850px) {
  main .text .description {
    font-size: 14px;
  }
}

main .text .read-more {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

main .text .read-more__arrow {
  vertical-align: middle;
  margin-left: 5px;
}

@media (max-width: 850px) {
  main .text .read-more {
    font-size: 14px;
  }
}

main .pics {
  position: relative;
}

main .pics .image {
  width: 100%;
}

main .pics .card {
  position: relative;
  top: -75px;
  left: 40%;
  width: 410px;
  height: 190px;
  text-align: center;
}

@media (max-width: 850px) {
  main .pics .card {
    width: 300px;
    height: 140px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

main .pics .card .user {
  margin-left: 5%;
  padding-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  text-align: left;
}

main .pics .card .user__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  border-radius: 100%;
}

main .pics .card .user__name {
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 850px) {
  main .pics .card .user__name {
    font-size: 12px;
  }
}

main .pics .card .user__job {
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

@media (max-width: 850px) {
  main .pics .card .user__job {
    font-size: 10px;
  }
}

main .pics .card .card-text {
  margin-left: 5%;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  width: 290px;
}

@media (max-width: 850px) {
  main .pics .card .card-text {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  main .pics {
    margin-top: 40px;
  }
}

@media (max-width: 850px) {
  main {
    display: block;
  }
}

footer {
  width: 100%;
  position: relative;
  top: 0;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

footer * {
  color: #a9a9a9;
}

footer hr {
  width: 350px;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.hamburguer .line {
  background-color: white;
  height: 3px;
  width: 28.5px;
  margin-bottom: 4px;
}

.hamburguer .line:nth-child(3) {
  margin-bottom: 0;
}

@media (max-width: 850px) {
  .hamburguer {
    display: block;
  }
}

.menu.appear {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.menu.appear ul {
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.hamburguer.appear {
  z-index: 3;
}

.hamburguer.appear .line:nth-child(2) {
  background-color: #181719;
}

.hamburguer.appear .line:first-child {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

.hamburguer.appear .line:last-child {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

.hamburguer.appear .line {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/*# sourceMappingURL=style.css.map */